<h1>Dữ liệu từ Controller gửi về là: @Viewbag.infoPerson</h1>
<form aspd-action="Index">
    <label>Nhập PersonID</label>
    <input type="text" name="PersonID">
    <label>Nhập Họ tên</label>
    <input type="text" name="Fullname">
    <label>Nhập Địa chỉ</label>
    <input type="text" name="Address">
    <input type="submit" value="Gửi dữ liệu">
    <label>tuoi</label>
    <input type="text"name="Age">
    <label>nam sinh:</label>
    <input type="text"name="YearOfBirth">
    <input type="submit" value="gui du lieu">
</form>