<div class="w3-container">

<h2>Horizontal Bar</h2>

<p>An horizontal bar is a common web design element:</p>

<div class="w3-bar w3-border w3-light-grey">
  <div class="w3-bar-item">Lý</div>
  <div class="w3-bar-item">Trường</div>
  <div class="w3-bar-item">Thành</div>
</div>
