<body>

<div class="w3-container">
  <h2>Borders</h2>

  <div class="w3-panel w3-border">
    <p>Lý Trường Thành</p>
  </div>
  
  <div class="w3-panel w3-border-left">
    <p>Lý Trường Thành</p>
  </div>
  
  <div class="w3-panel w3-border-right">
    <p>Lý Trường Thành</p>
  </div>
  
  <div class="w3-panel w3-border-top w3-border-bottom">
    <p>Lý Trường Thành</p>
  </div>

</div>

</body>
