<div class="w3-container">
  <h2>Buttons (w3-button)</h2>
  <input type="button" class="w3-button w3-black" value="Lý Trường Thành">
  <button class="w3-button w3-black">Lý Trường Thành</button>
  <a href="#" class="w3-button w3-black">Lý Trường Thành</a>
</div>

<div class="w3-container">
  <h2>Buttons (w3-btn)</h2>
  <input type="button" class="w3-btn w3-black" value="Lý Trường Thành">
  <button class="w3-btn w3-black">Lý Trường Thành</button>
  <a href="#" class="w3-btn w3-black">Lý Trường Thành</a>
</div>