<body>
<div class="w3-container">
<h1>Text Colors</h1>
<p>The w3-text-color classes defines text colors for HTML elements:</p>
  <div class="w3-text-red">
    <h2>Lý Trường Thành</h2>
    <p>2121050017</p>
  </div>
  <div class="w3-text-blue">
    <h2>Lý Trường Thành</h2>
    <p>2121050017</p>
  </div>
</div>
</body>