<body>
<div> 
  <h2>Without a Container</h2>
  <p>Lý Trường Thành</p>
  <p>2121050017</p>
</div>
<div class="w3-container"> 
  <h2>Lý Trường Thành</h2>
  <p>Khuat Hoang Hieu</p>
  <p>2121050017</p>
</div>
</body>