<div class="w3-container">
  <h1>Using w3-display-container</h1>

  <div class="w3-display-container w3-green" style="height:300px;">
    <div class="w3-display-topleft">Lý Trường Thành</div>
    <div class="w3-display-topright">Lý Trường Thành</div>
    <div class="w3-display-bottomleft">Lý Trường Thành</div>
    <div class="w3-display-bottomright">Lý Trường Thành</div>
    <div class="w3-display-left">Lý Trường Thành</div>
    <div class="w3-display-right">Lý Trường Thành</div>
    <div class="w3-display-middle">Lý Trường Thành</div>
    <div class="w3-display-topmiddle w3-hide-small">Lý Trường Thành</div>
    <div class="w3-display-bottommiddle w3-hide-small">Lý Trường Thành</div>
  </div>
</div>