<div class="w3-container">
  <h2>Displaying Notes</h2>
  <p>The w3-panel class can be used to display all sorts of notes:</p>
  <div class="w3-panel w3-yellow">
    <p>Trường Thành</p>
  </div>
  <div class="w3-panel w3-border">
    <p>Trường Thành</p>
  </div>
  <div class="w3-panel w3-light-grey w3-border w3-round">
    <p>Trường Thành</p>
  </div>
  <div class="w3-panel w3-pale-blue w3-leftbar w3-border-blue">
    <p>Trường Thành</p>
  </div>
  <div class="w3-panel w3-pale-red w3-leftbar w3-rightbar w3-border-red">
    <p>Trường Thành</p>
  </div>
  <div class="w3-panel w3-pale-yellow w3-topbar w3-bottombar w3-border-yellow">
    <p>Trường Thành</p>
  </div>
  <div class="w3-panel w3-pale-green w3-bottombar w3-border-green w3-border">
    <p>Trường Thành</p>
  </div>
  <div class="w3-panel w3-yellow w3-bottombar w3-border-amber">
    <p>Trường Thành</p>
  </div>
</div>
