<body>
<div class="w3-container">
  <h2>Displaying Panels</h2>
  <p>Panels are the same as containers except for an added top and bottom margin.</p>

  <div class="w3-panel w3-red">
    <p>Lý Trường Thành</p>
  </div>
  <div class="w3-panel w3-green">
    <p>Lý Trường Thành</p>
  </div>

  <div class="w3-container w3-red">
    <p>Lý Trường Thành</p>
  </div>
  <div class="w3-container w3-green">
    <p>Lý Trường Thành</p>
  </div>
</div>
</body>