<div class="w3-container">
  <h2>Lý Trường Thành</h2>

  <div class="w3-panel w3-round-small w3-teal">
    <p>Lý Trường Thành</p>
  </div>

  <div class="w3-panel w3-round w3-teal">
    <p>Lý Trường Thành</p>
  </div>

  <div class="w3-panel w3-round-large w3-teal">
    <p>Lý Trường Thành</p>
  </div>

  <div class="w3-panel w3-round-xlarge w3-teal">
    <p>Lý Trường Thành</p>
  </div>

  <div class="w3-panel w3-round-xxlarge w3-teal">
    <p>Lý Trường Thành</p>
  </div>
</div>
